@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&family=Rajdhani:wght@300;400;500;600;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url('https: //fontstruct.com/fontstructions/show/1518536/panthera-1');
@font-face
{
    font-family: 'BEYNO';
    src: url(../Font/BEYNO/BEYNO.ttf);
}

@font-face {
    font-family: 'Panthera';
    src: url(../Font/PantheraRegular-MVZ9J.ttf);
}

@font-face {
    font-family: 'Wakanda Forever';
    src: url(../Font/wakanda_forever/WakandaForever-Regular.ttf);
}

@font-face
{
    font-family: 'Cantarell';
    src: url(../Font/Cantarell/Cantarell-Regular.ttf);
}

:root
{
    --white-color: #FFFFFF;
    --grandiant-pink: #F2CFF2;
    --grey-color: #9E91B7;
    --pink-color: #DF99F2;
    --purple-color: #3D2DA6;
    --blue-color: #07338C;
    --dark-blue: #021740;
}

* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-image: url('../Illustrations\ +\ Logo/All pages/arrière_plan.png');
    color: var(--white-color);
    background: radial-gradient(126.67% 350.28% at -21.35% 0%, #11213F 0%, #0B0B0B 39.1%, rgba(2, 23, 64,
                    0.837641) 94.57%, rgba(2, 23, 64, 0) 100%);
}
.container
{
    width: 80%;
    margin: 0 auto;
}
/* Les polices */
.titre
{
    font-family: 'Panthera';
    font-size: 50px;
    color: var(--grey-color);}
h2
{
    font-family: 'BEYNO';
    font-size: 32px;
    color: var(--grey-color);
}
p
{
    font-family: 'Cantarell';
    font-size: 12px;
    margin-top: 10px;
}
h3
{
    font-family: 'BEYNO';
    font-size: 20px;
    color: var(--grey-color);
}


/* header */
nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ul
{
    display: flex;
}
li
{
    padding: 20px;
    list-style-type: none;
    color: var(--purple-color);
}
.nav ul li:hover 
{
    text-decoration: underline;
    color: var(--white-color);
}
.marvel
{
    margin: 10px;
}

.social-scroll{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 1200px;
    top: 150px;
   

}

/* Design black-panther */
.black-panther
{
    display: flex;
    margin-top: 40px;
}
img.panther
{
    width: 120%;
    height: 100%;
}
.description
{
    width: 80%;
    margin-top: 15%;

}
.suivre
{
    border: none;
    background-color: transparent;
    color: var(--white-color);
}
.suivre:hover
{
    text-decoration:underline;
}

/* Design personnages */
.personnages
{
    display: flex;
    justify-content: space-between;
    height: 341px;
    flex-wrap: nowrap;
    background-color: var(--blue-color);
    margin-bottom: 15%;
    text-align: justify;
}

/* Design naissance prince */
.naissance-prince
{
    display: flex;
    justify-content: space-between;
}
.histoire-prince
{
    margin: 50px;
    padding-left: 20px;
    text-align: justify;
}
.detail-tchalla
{
    background-color: var(--white-color);
    border-radius: 20px;
    color: var(--dark-blue);
    padding-top: 80px;
    padding-bottom: 30px;
}
.btn
{
    padding: 10px;
    display: flex;
    justify-content: space-around;
    color: var(--white-color);
}
input[type="radio"] 
{
    opacity: 0;
}
.btn label
{
    cursor: pointer;
    border-radius: 5px ;
    background-color: var(--purple-color);
    padding: 10px;
    font-size: 12px;
}
.Tcl
{
    text-align: center;
    font-family: 'Cantarell';
}
.identité
{
    padding-left: 70px;
}
.rond
{
    margin-top: 80px;
}
/* Design contact */
#intervention
{
    background-image: url('../Illustrations\ +\ Logo/Acceuil/Pantherhome7.png');
    height: 900px;
    padding: 10px;
    font-family: 'Cantarell';
}
.contactez
{
    background-color: #cfcccc;
    color: var(--dark-blue);
    border-radius: 150px;
    text-align: center;
    margin-top: 20%;
    padding: 10px;
    margin-left: 200px;
    margin-right: 0px;
}

.message
{
    border-radius: 30px;
    border-color: var(--purple-color);
    border: 1px solid;
    height: 150px;
    margin: 20px;
    margin-left: 200px;
    margin-right: 200px;
}
.envoie
{
    border-radius: 30px;
    border-color: var(--purple-color);
    border: 1px solid;
    height: 50px;
    margin: 20px;
    background-color: var(--white-color);
    color: var(--purple-color);
}
.envoie:hover
{
    box-shadow: 0 0 20px #021740;
}

/* Design footer */
footer
{
    background-image: url(../Illustrations\ +\ Logo/Allpages/footer1.png);
    margin-top: 140px;
    Background: linear-gradient(180deg, #3D2DA6 0%, #021740 90.43%);
}
.disposition
{
    display: flex;
    justify-content: space-between;
}
.img1
{
    height: 60%;
    background-image: url(../Illustrations\ +\ Logo/Allpages/footer2.png);
    background-repeat: no-repeat;
    background-position: center;
}

.arrière-plan
{
    margin-top: 15%;
}
.text-propos
{
    display: grid;
}
.pages
{
    margin-top: 15%;
    width: 50%;
}
.joindre
{
    margin-top: 15%;
}
.réseaux-sociaux
{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.texte-footer
{
    display: flex;
}
.hfooter
{
    color: var(--white-color);
    font-family: 'Cantarell';
    font-size: 22px;
    letter-spacing: 28%;
}
footer .logo-footer{
    display: flex;
    justify-content: space-between;
}

/* Wakanda */
.wakanda-forever
{
    background-image: url(../Illustrations\ +\ Logo/Wakanda/Pantherwakanda1.png);
    height: 900px;
    background-repeat: no-repeat;
        background-position: top center;
            background-size: cover;
}
.wakanda-section
{
    display: flex;
    background-image: url(../Illustrations\ +\ Logo/Wakanda/Pantherwakanda2.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    margin-top: 20px;
    text-align: justify;
}
.forever
{
    margin-top: 300px;
    float: left;
    padding-right: 450px;
}
.text-forever p{
 text-align: justify;
}
.titre
{
    font-family: 'BEYNO';
    font-size: 40px;
    color: var(--grey-color);
}
.sous-titre
{
    font-family: 'Wakanda Forever';
    margin-top: 10px;
    font-size: 28px;
}
.video
{
    background-color: var(--purple-color);
    height: 200px;
    width: 300px; ;
    padding-left: 20px;
    padding-top: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Page d'Enigme */
#enigme .dora img
{
    height: 500px;
   
}
.dora
{
    display: flex;
    justify-content: space-between;
}
.dora-text
{
    display: grid;
    margin-top: 50px;
}
.dora-description
{
    background-image: url(../Illustrations\ +\ Logo/Enigme/Pantherenigme2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: justify;
    padding-bottom: 20px;
}
.dora-text
 h1
{
    font-family: 'BEYNO';
    font-size: 32px;
    color: var(--pink-color);
}
.dora-description p
{
    padding: 90px;
}
#citation .citation p
{
    font-family: 'Wakanda Forever';
    font-size: 40px;
    margin-top: 50px;
    color: var(--pink-color);
    
}
.transcription p span
{
    font-family: 'Wakanda Forever';

}
.dora-citation
{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.reponse
{
    border-radius: 20px;
    border: 2px solid var(--pink-color);
    padding: 10px;
    margin: 20px;
    height: 50px;
    width: 400px;
}
.valide
{
    border-radius: 20px;
    border: none;
    padding: 15px;
    margin-left: 160px;
    margin-bottom: 100px;
    font-size: 10px;
    background-color: var(--grandiant-pink);
}
.valide:hover
{
    box-shadow: 0 0 20px #F2CEF2;
}
.savoir p{
    background-position: center;
    background-size: cover;
}

